#root {
    margin: 0 auto;
    width: 1200px;
}

body {
    font-family: 'Alegreya Sans', sans-serif;
    color: black;
    font-size: 18px;
    margin: 0;
}

.app {
    display: grid;
    grid-template-columns: 1fr 1fr 12fr;
    grid-template-rows: auto;
    grid-template-areas: ". sidebar main ";
}

.hidden {
    display: none !important;
}