li.article > a {
    text-decoration: none;
    text-decoration-style: initial;
    text-decoration-color: initial;
    color: black;
    margin-left: 10px;
}

li.article .source a {
    text-decoration: underline;
    color: inherit;
}

li.article .time {
    display: none;
    color: gray;
}

li.article:hover .time {
    display: inline;
}

li.article .source {
    display: none;
    color: gray;
}

li.article:hover .source {
    display: inline;
}

/* Iphone XS */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 812px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) {
    li.article .icon  {
        max-height: 10px;
    }
}




